.social-link
{
    
}
.social-link img
{
    height: 25px;    
}
.small-social-link img
{
    height: 18px;
}
.large-social-link img
{
    height: 30px;
}
.medium-social-link img
{
    height: 25px;
}